	body,
	html {
	  background-color: #0061ff;
	  margin: 0;
	  padding: 0;
	  height: 100%;
	  overflow: hidden;
	}

	.webview-container {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}

	.webview {
	  width: 100%;
	  height: 100%;
	  border: none;
	}